*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is
  font-size: 62.5%; // 1 rem = 10 px  / 16 px = 62.5 rem

  @include respond(tab-land) {
    // 1 rem = 9 px, 9/16 = 50%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1 rem = 8 px, 8/16 = 50%
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1 rem = 12 px, 12/16
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
